<header>
    <nav class="navbar">
        <ul class="nav-list">
          <div><a href="/"><img src="/images/favicon3.png" alt="logo" class="logo_menu"></a></div>
            <li><a href="/">בית</a></li>
            <li><a href="/add-memore">הוסף זיכרון</a></li>
            <li><a href="/about-us">עלינו</a></li>
            <li><a href="/Q&A">שאלות ותשובות</a></li>
            <li><a href="/contact">צור-קשר</a></li>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" id="search" placeholder="חיפוש לפי שם">
            <button class="btn btn-sm">חיפוש</button>
        </div>
    </nav>
</header>

