<%- include('includes/head.ejs') %>
<title>404</title>
</head>

<body>
    <%- include('includes/menu.ejs') %>
    <div>
        <h1>אופס!</h1>
        <div>
        <p>נראה שהעמוד לא קיים</p>
        <button id="backButton" class="btn">חזרה</button>
        <script type="text/javascript">
            document.getElementById("backButton").onclick = function () {
                history.back();
            };
        </script>
        </div>
    </div>
    <%- include('includes/end.ejs') %>