<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>404</title>
</head>

<body>
    <div">
        <h1>Whoops!</h1>
        <div>
        <p>Seems like this page does not exist</p>
        <button id="backButton" class="btn">Go back</button>
        <script type="text/javascript">
            document.getElementById("backButton").onclick = function () {
                history.back();
            };
        </script>
        </div>
    </div>
    <div class="footer">
        <p>
            © All rights reserved 
        </p>
    </div>
</body>

</html>