<%- include('includes/head.ejs') %>
<title>About us</title>
</head>

<body>
    <%- include('includes/menu.ejs') %>
    <h1>עלינו</h1>
    <div class="content-margin">
        <p>
            Memor-E הוא אתר הנצחה המשמש כזיכרון ציבורי
            <br>
        בו כל אחד יכול לפתוח דף לזכרו של אדם שנפטר ולשתף תמונות, סרטונים וסיפורים מחייהם.
             כך תוכלו לוודא שאהוביכם לא יישכחו.
        </p>
    </div>  
    <%- include('includes/end.ejs') %>