<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" id="search" placeholder="Search someone">
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>

    <h1>About Us</h1>
    <div style="width: 75%;">
        <p>
            Memor-E is a commemorative site that serves as a public memoir,
            where anyone can open a page in memory of a deceased loved one and share pictures,
            videos and stories from their lives. This way, you can make sure that your loved ones will not be forgotten.
        </p>
    </div>

    <div class="footer">
        <p>
            © All rights reserved 
        </p>
    </div>
</body>

</html>