<%- include('includes/head.ejs') %>
<title>Contact</title>
</head>

<body>
    <%- include('includes/menu.ejs') %>
    <div>
        <h1>צור-קשר</h1>
      
        <p>
            <a href="mailto:memor-e@gmail.com">Send us an email</a>
        </p>
    </div>
    <%- include('includes/end.ejs') %>