<%- include('includes/head.ejs') %>
  <title>Memor-E</title>
  </head>

  <body>
    <%- include('includes/menu.ejs') %>
      <section class="hero">
        <div class="hero-content">
          <h1>Memor-E</h1>
          <h2>אתר זיכרון שיתופי</h2>
        </div>
      </section>

      <main>
        <div class="carousel">
          <div class="carousel-item">
            <img src="/images/Alon_Werber.jpg" alt="אלון ורבר">
            <div class="textbox">
              <p class="memore-text">
                אלון ורבר
                <br>
                2023 - 1997
                <br>
                רעננה
                <br>
                <a class="memoreLink" href="#">מעבר לזיכרון</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Guy_Illouz.jpg" alt="גיא אילוז">
            <div class="textbox">
              <p class="memore-text">
                גיא אילוז
                <br>
                2023 - 1997
                <br>
                רעננה
                <br>
                <a class="memoreLink" href="#">מעבר לזיכרון</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Katherina Goldman.jpg" alt="קטרינה טבגן גולדמן">
            <div class="textbox">
              <p class="memore-text">
                קטרינה טבגן גולדמן
                <br>
                2023 - 1997
                <br>
                חולון
                <br>
                <a class="memoreLink" href="#">מעבר לזיכרון</a>
              </p>
            </div>
          </div>
        </div>
      </main>


      <script>
        let carouselItems = document.querySelectorAll('.carousel-item');
        let currentIndex = 0;

        function showItem(index) {
          carouselItems.forEach((item, i) => {
            if (i === index) {
              item.classList.add('active');
            } else {
              item.classList.remove('active');
            }
          });
        }

        function nextItem() {
          currentIndex++;
          if (currentIndex >= carouselItems.length) {
            currentIndex = 0;
          }
          showItem(currentIndex);
        }

        function prevItem() {
          currentIndex--;
          if (currentIndex < 0) {
            currentIndex = carouselItems.length - 1;
          }
          showItem(currentIndex);
        }


        showItem(currentIndex);

        setInterval(nextItem, 5000);

      </script>

      <%- include('includes/end.ejs') %>