<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memor-E</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" id="search" placeholder="Search someone">
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>
    <p>
    <h1>Memor-E</h1>
    </p>

    <div class="footer">
        <p>
            © All rights reserved 
        </p>
    </div>
</body>

</html>