<%- include('includes/head.ejs') %>
<title>404</title>
</head>

<body>
    <%- include('includes/menu.ejs') %>
    <div class="content-margin">
        <h1>הזכרון נוסף בהצלחה!</h1>
        <div>
        <p>ניתן לחזור ל<a href="/">דף הבית</a> או <a href="/add-memore">להוסיף זיכרון נוסף</a>.</p>
        </div>
    </div>
    <%- include('includes/end.ejs') %>