<%- include('includes/head.ejs') %>
<title>FAQ's</title> 
</head>

<body>
    <%- include('includes/menu.ejs') %>
    <h1>שאלות ותשובות</h1>
      
    <div id="accordionComponent">
        <button class="accordion">מה זה Memor-E?</button>
        <div class="panel">
            <p> Memor-E הוא אתר הנצחה המשמש כזיכרון ציבורי
            בו כל אחד יכול לפתוח דף לזכרו של אדם שנפטר ולשתף תמונות, סרטונים וסיפורים מחייהם.
                 כך תוכלו לוודא שאהוביכם לא יישכחו.
            </p>
        </div>

        <button class="accordion">איך אני יכול.ה ליצור פרופיל עבור מישהו שנפטר? </button>
        <div class="panel">
            <p>Yes <br>
                ניתן לפתוח פרופיל עבור נפטר בקלות בעזרת לחיצה <a href="/add-memore">כאן</a>
            </p>
        </div>

        <button class="accordion">שאלה</button>
        <div class="panel">
            <p>תשובה</p>
        </div>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");
        
                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
        
        </script>
    <%- include('includes/end.ejs') %>