<%- include('includes/head.ejs') %>
<title>FAQ's</title> 
</head>

<body>
    <%- include('includes/menu.ejs') %>
      
    <div id="accordionComponent">
        <button class="accordion">What is Memor-E?</button>
        <div class="panel">
            <p> Memor-E is a commemorative site that serves as a public memoir,
                where anyone can open a page in memory of a deceased loved one and share pictures,
                videos and stories from their lives. This way, you can make sure that your loved ones will not be forgotten.
            </p>
        </div>

        <button class="accordion">Can I create a profile for someone who passed away?</button>
        <div class="panel">
            <p>Yes <br>
                You can easily create a profile for your family member/ friend or even your beloved pet easily. Just click on ----
            </p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>Answer</p>
        </div>
    </div>

    <div class="footer">
        <p>
            © All rights reserved
        </p>
    </div>


    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    <%- include('includes/end.ejs') %>