* {
  margin: 0;
  padding: 0;
  font-family: 'Secular One', static;
  direction: rtl;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {

  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: rgba(13, 81, 133, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.logo_menu {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
  margin-top: 5px;
}

.nav-list li:last-child {
  margin-left: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #ffd700;
  /* Change the color on hover */
}

.rightNav {
  text-align: right;
}

#search {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
  /* Change the background color on hover */
  color: #ffd700;
}

h1,
h2 {
  margin: 20px;
  color: rgba(13, 81, 133, 0.6);
  text-align: center;
}

.memore-text {
  margin: 20px;
}

.color-red {
  color: red;
}

form { 
  border: 1px solid grey;
  width: 80%;
  margin-right: 10%;
  padding: 1%;
}

.inline-flx {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 1%;
}

.form-header{
  margin-bottom: 1%;
  font-size: 18px;
  font-weight: 700;
}


textarea{
  width: 80%;
  height: 20vh;
  padding-right: 1%;
}

.accordion {
  background-color: rgba(13, 81, 133, 0.6);
  color: #ffff;
  cursor: pointer;
  margin-top: 5px;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Franklin Gothic Medium';
  border-radius: 5px;
  font-size: 22px;

}

.active,
.accordion:hover {
  background-color: #e4e2e2c0;
  font-family: 'Franklin Gothic Medium';
  color: rgba(13, 81, 133, 0.6);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium';
  font-weight: 100;

}

#accordionComponent {
  margin: 75px;

}

#backButton {
  margin-left: 20px;
}


.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  position: absolute;
  right: 29%;
  top: 35%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: #ffff;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 45vh;
  height: 45vh;
  border-radius: 10%;
  position: relative;
  float: right;
  margin-left: 5%;
}

.textbox {
  width: 60vh;
  height: 45vh;
  border: solid 1px rgba(0, 0, 0, 0.292);
  border-radius: 2%;
  background-image: url("/images/notebook-background.jpg");
  background-size: cover;
  position: relative;
  float: right;
}

.textbox>p {
  margin-left: 10%;
  direction: rtl;
  text-align: right;
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  font-weight: 550;
  line-height: 1.13;
}

.memoreLink {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
}

footer {
  background-color: rgba(13, 81, 133, 0.6);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 12px;
}


@media (max-width: 768px) {
  .carousel-item {
    flex-direction: column;
  }

  .carousel-item img {
    margin-bottom: 1rem;
  }
}

